# Python compiled files
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# macOS / Windows 系統檔
.DS_Store
Thumbs.db
desktop.ini

# 環境與依賴
env/
venv/
ENV/
*.env

# pip 安裝記錄
pip-log.txt

# 輸出產生的 Excel 分頁檔案
*_分頁*.xlsx

# 暫存檔或測試用資料
*.bak
*.tmp
~$*

# PyInstaller 打包檔案
dist/
build/
*.spec
